h1{
    color: black;
    font-size: 20mm;
    font-family: cursive;
}

body {
    background-image: url(./Images/maldives2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    color: rgb(0, 255, 115);
    font-size: 15mm;
}

a{
    font-style: italic;
    font-size: 30px;
}
.tabs a{
    position: static;
    margin-left: 5px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: rgba(21, 230, 184, 0.562);


}

.tabs a:hover{
    color: deepskyblue;
}

.pictures h1{
    color: firebrick;
}
